@font-face {
	font-family: 'Libertine';
	src: url('src/Fonts/LinuxLibertine/LinLibertine_R.otf') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiolinumBold';
	src: url('src/Fonts/linux-biolinum/LinBiolinum_RB.otf') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


/* @font-face {
    font-family: 'Darwin';
    src: url('src/Fonts/Darwin/DarwinSerif-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
} */


body {
	font-family: 'Libertine', Georgia, serif;
	font-size: 16pt;
	color: #000000;
	padding: 0px;
	background-color: #afafaf;
}

:root {
	--content-max-width: 1200px;
	--content-padding: 0.2rem;
}

.content {
	max-width: var(--content-max-width);
	padding: 0 var(--content-padding);
	margin-left: auto;
	margin-right: auto;
	background-color: #afafaf;
	margin-top: 0px;
	border-radius: 2px;
	width: clamp(100%, 60vw, 80%);
}

.section-card {
	display: block;
	background-color: #afafaf;
	border-radius: 2px;
	margin: 2px;
	padding: 0.1em 0.1em 0.1em 0.1em;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 110%;
}

h4 {
	font-size: 110%;
}

p {
	font-size: 100%;
	text-align: justify;
	text-indent: 1em;
}

ul {
	font-size: 100%;
}

h1,
h2 {
	font-family: 'BiolinumBold', 'Segoe UI', Sans-Serif;
	font-weight: normal;
	margin: 0.1em 0.1em 0.2em 0.1em;
	color: #333;
}

h3 {
	font-family: 'BiolinumBold', 'Segoe UI', Sans-Serif;
	text-decoration: underline;
	color: #000000;
}

h4 {
	margin-bottom: 0.3em;
	font-weight: normal;
	color: #000000;
}

a {
	color: #00758a;
}

a:visited {
	color: #55038b;
}

summary {
	list-style: none;
	padding: 0.2em;
	user-select: none;
	margin: 0px;
	font-family: 'BiolinumBold', 'Segoe UI', Sans-Serif;
	font-weight: normal;
	color: #000;
	cursor:pointer;
}

details:last-child {
	border-bottom: solid 1px #3c3c3c;
}

details {
	margin: 0px 0px 0px min(2vw,1em);
	padding: 0px;
	border-style: solid none;
	border-width: 1px;
	border-color: #3c3c3c;
	border-bottom: none;
}

summary:hover {
	background-color: #dadada;
}

details:open>summary {
	background-color: #bbb;
	border-bottom: solid;
	border-width: 1px;
	border-color: #3c3c3c;	
}

details:open>summary:hover {
	background-color: #dadada;
}

summary::-webkit-details-marker {
	display: none;
}



ul {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	list-style-type: circle;
}

ul.twocolumns {
	column-width: 300px;
	column-gap: 2rem;
	list-style: none;
	padding: 0 0 1rem 0;
	margin: 0 3rem 0 3rem;
}

ul.twocolumns li {
	break-inside: avoid;
}

@media (max-width: 600px) {
	ul.twocolumns {
		column-count: 1;
	}
}