@font-face {
    font-family: 'Libertine';
    src: url('src/Fonts/LinuxLibertine/LinLibertine_R.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'BiolinumBold';
    src: url('src/Fonts/linux-biolinum/LinBiolinum_RB.otf') format('woff2');
    font-weight: bold;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Darwin';
    src: url('src/Fonts/Darwin/DarwinSerif-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}


body {
	font-family: 'Darwin', Georgia, serif;
	font-size: 16pt;
	color: #000000;
	padding:0px;
	background-color: #afafaf;
}

.content {
	padding: 0.2em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #afafaf;
	margin-top: 0px;
	border-radius: 2px;
}

@media (min-width: 600px){
	.content {
		width: 80%;
	}
}
@media (min-width: 1000px){
	.content {
		width: 60%;
	}
}


.section-card {
	display:block;
	background-color: #afafaf;
	border-radius: 2px;
	margin:2px;
	padding: 0.1em 0.1em 0.1em 0.1em;
}

h1 {font-size: 200%;}
h2 {font-size: 140%;}
h3 {font-size: 110%;}
h4 {font-size: 110%;}
p  {
	font-size: 100%;
	text-align: justify;
	text-indent: 1em;
}
ul {font-size: 100%;}
h1, h2 {
	font-family: 'Darwin', 'Segoe UI', Sans-Serif;
	font-weight: normal;
	margin: 0.1em 0.1em 0.2em 0.1em;
	color: #000000;
}

h3 {
	font-family: 'Darwin', 'Segoe UI', Sans-Serif;
	text-decoration: underline;
	color: #000000;
}

h4 {
	margin-bottom: 0.3em;
	font-weight: normal;
	color: #000000;
}
a {
	color: #00758a;
}
a:visited {
	color: #55038b;
}

table {
	width: 96%;
	margin-left: 2%;
	margin-right: auto;
	margin-bottom: 0.2em;
}

table, tr, td {
	border-collapse: collapse;
	border-style: solid none;
	border-width: 1px;
	border-color: #3c3c3c;
	padding: 0.2em;
}

ul {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	list-style-type: circle;
}

ul.twocolumns {
    display: inline-block;
}

ul.twocolumns li {
    float: left;
    list-style: outside none none;
    width: 50%;
}
@media (min-resolution: 200dpi){
	ul.twocolumns li {
		width: 100%;
	}
	
}

td.project-title {
	font-family: 'Darwin', 'Segoe UI', sans-serif;
	font-size: 120%;
	cursor:pointer;
}
td.project-title:hover {
	background-color: #dadada;
}
tr.project-card {
	display: none;
}