@page {size: portrait;  widows:2; orphans:2;}

	html, body{
		margin:0;
		padding:0;
		background:none;
	}

	body{
 		font-size: 1em;
	}

	.blogbody, .date, #pane, .trackback-url,
	.comments-head, #banner-commentspop {
		margin-left:10px;
		margin-right:10px;
	}

	.dropshadow,.dropshadow2,.dropshadow3,
	.dropshadow4,.dropshadow5, .shadowbox {
		left:0px;
		top:0px;
		background:none;
	}

	#links, #pane, #menu, #footer, .newpost .skip {display:none}
	pre {overflow:visible}

	.blogbody a {
		color:#000;
	}
	.blogbody a:after{
		content:" ["attr(href)"] ";
		font-weight:normal;
		font-size:.8em;
	}
	.posted a:after, .comments-post a:after, .related a:after {
		content: "";
	}

	abbr[title]:after,acronym[title]:after {
		content:" (" attr(title) ") ";
		font-weight:normal;
	}

	abbr,acronym,span.abbr{
		border-bottom:none;
	}

	img, math {page-break-inside: avoid;}
	h1,h2,h3,h4,h5,h6 {page-break-after: avoid;}
