#board{
	margin:0px auto;
	background-color:#006000;
	border-radius: 5px;
	display:table;
	padding:4px;
	border-collapse:separate;
	border-spacing:2px;
}

p {
	text-align: center;
	font-size: 20pt;
}

.board-row{
	display: table-row;
}
.board-square {
	margin:1px;
	display:table-cell;
	border-radius: 37px;
	border-style: solid;
	vertical-align: middle;
	background-color:#0D3D01;
}

.white-piece {
	background-color:#FFF;
	border-color: #FFF;
}

.black-piece {
	background-color:#000;
}

.green-piece {
	background-color:#0D3D01;
}

.darkgreen-piece {
	background-color: #00bb00;
}

.red { /*for debugging*/
	background-color: #F00;
}